{{ define "main" }}

{{ partial "header-image" . }}

{{ partial "about-text" . }}

{{ partial "advantages" . }}

{{ partial "section-title" .Params.videoSection }}
{{ partial "video-section" . }}

{{ partial "section-title" .Params.catalogueSection }}
{{ partial "catalogue-section" . }}

{{ partial "form-section" . }}

{{ partial "section-title" .Params.saunas }}
{{ partial "saunas" . }}

{{ partial "cta-specialists" . }}

{{ partial "features" . }}

{{ partial "warranty-section" . }}

{{ partial "footer-section" . }}

{{ end }}
