{{ define "main" }}

{{ partial "header-image" (dict "imageUrl" .Params.headerImage) }}

{{ partial "about-text" .Params.aboutText }}

{{ partial "advantages" . }}

{{ partial "section-title" .Params.videoSection }}
{{ partial "video-section" . }}

{{ partial "section-title" .Params.catalogueSection }}
{{ partial "catalogue-section" .Params.catalogueSection }}

{{ partial "form-section" .Params.formSection }}

{{ partial "section-title" .Params.saunas }}

{{ partial "cta-specialists" .Params.ctaSpecialists }}

{{ partial "features" .Params.features }}

{{ partial "warranty-section" .Params.warrantySection }}

{{ end }}
