<footer class="footer">
  <div class="container">
    <div class="columns has-text-centered">
      {{ range .Site.Menus.footer }}
      <div class="column is-narrow">
        <a href="{{ .URL }}" class="">{{ .Name }}</a>
      </div>
      {{ end }}
    </div>
  </div>
</footer>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
        });
      }
    });
  }
</script>
