{{- partial "gtag-body.html" . -}}
<div style="background: #fff">
  <div class="row padding--20" data-equalizer>
    <div class="small-12 medium-12 large-12 columns table" data-equalizer-watch>
      <div class="hide-for-small-only table__cell--center">
        <img src="img/logo-gold.png" style="width: 100%;max-width: 314px;">
      </div>
      <div class="show-for-small-only table__cell--center">
        <img src="img/logo-gold.png" style="width: 100%;max-width: 314px;">
      </div>
    </div>
  </div>
</div>
